decks/*
!decks/TDABKW-AngelBeats-KudWafter.dek
!decks/TDABKW-AngelBeats-KudWafter.txt
!decks/TDBM-Bakemonogatari.dek
!decks/TDBM-Bakemonogatari.txt
!decks/TDDC-DCDCII.dek
!decks/TDDC-DCDCII.txt
!decks/TDDC-DCDCIIPC.dek
!decks/TDDC-DCDCIIPC.txt
!decks/TDDG-Disgaea.dek
!decks/TDDG-Disgaea.txt
!decks/TDEV-RebuildOfEvangelion.dek
!decks/TDEV-RebuildOfEvangelion.txt
!decks/TDFS-FateStayNight.dek
!decks/TDFS-FateStayNight.txt
!decks/TDFT-FairyTail.dek
!decks/TDFT-FairyTail.txt
!decks/TDFZ-FateZero.txt
!decks/TDGC-GuiltyCrown.txt
!decks/TDID-ToAruMajutsuNoIndex2.txt
!decks/TDIM-TheIDOLM@STER.txt
!decks/TDIM-TheIDOLM@STER2.txt
!decks/TDKG-Katanagatari.dek
!decks/TDKG-Katanagatari.txt
!decks/TDLB-LittleBusters.dek
!decks/TDLB-LittleBusters.txt
!decks/TDLB-LittleBustersEcstasy.dek
!decks/TDLB-LittleBustersEcstasy.txt
!decks/TDLS-LuckyStar.txt
!decks/TDMB-MeltyBlood.dek
!decks/TDMB-MeltyBlood.txt
!decks/TDMF-MacrossFrontier.txt
!decks/TDMK-MilkyHolmes.dek
!decks/TDMK-MilkyHolmes.txt
!decks/TDNA-NanohaAs.dek
!decks/TDNA-NanohaAs.txt
!decks/TDNS-NanohaStrikerS.dek
!decks/TDNS-NanohaStrikerS.txt
!decks/TDP3-Persona3.dek
!decks/TDP3-Persona3.txt
!decks/TDP4-Persona4.dek
!decks/TDP4-Persona4.txt
!decks/TDP4-Persona4Animation.dek
!decks/TDPT-Phantom.dek
!decks/TDPT-Phantom.txt
!decks/TDRG-ToAruKagakuNoRailgun.dek
!decks/TDRG-ToAruKagakuNoRailgun.txt
!decks/TDRW-Rewrite.txt
!decks/TDSB-SengokuBasara.dek
!decks/TDSB-SengokuBasara.txt
!decks/TDSE-ShiningForceExa.txt
!decks/TDSS-ShakuganNoShana.dek
!decks/TDSS-ShakuganNoShana.txt
!decks/TDSY-SuzumiyaHaruhiNoYuutsu.dek
!decks/TDSY-SuzumiyaHaruhiNoYuutsu.txt
